<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.testapp">

    <uses-permission android:name="android.permission.NFC"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestApp"
        tools:targetApi="28">
        <activity
            android:name=".Login"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

            </intent-filter>
        </activity>

        <activity
            android:name=".CheckedIn"
            android:exported="true">
        </activity>

        <activity
            android:name=".Teacher"
            android:exported="true">

        </activity>

        <activity
            android:name=".ViewSessions"
            android:exported="true">

        </activity>

        <activity
            android:name=".SessionAttendance"
            android:exported="true">

        </activity>

        <activity
            android:name=".SemesterAttendance"
            android:exported="true">

        </activity>

    </application>

</manifest>